.Usuario{
    padding: 20px 20px 200px;
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #aae2ef, #efcdea, #f298fa);
    color: #504d4d;
    padding: 20px 20px 200px;
    text-align: center;
}
.sesion{
    padding: 50px 55px 85px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px
}

.form-grup{
    
}
