.buttonadmin{
    background-color: whitesmoke !important;
    text-decoration: none;
}

.adminheader{
    margin-left: 40px;
}
.adminheader h4{
    background: linear-gradient(90deg, #aae2ef, #efcdea, #f298fa);
    margin-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 7px;
    padding-top: 5px;
    border-radius: 45px;
}

.adminrow{
    padding-top: 15px !important;
    font-size: 18px;
}
.admincol{
    padding-top: 15px !important;
    font-size: 18px;
}
.fondotabla{
    background-color: #cef6d7;
    border-radius: 40px;
}

.rowactions{
    margin: auto;
    width: 120px;
    display: flex;
    justify-content: space-between;
}

.rowactionsCursos{
    margin: auto;
    width: 165px;
    display: flex;
    justify-content: space-between;
}

.form-cont{
    text-align: left;
}

.contact{
    padding: 4%;
    height: 400px;
}
.col-md-3{
    background: #f298fa;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}

.contact-info img{
    width: 250px;
}

.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}

.label{
    margin-right: 10px !important;
}

.body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 70px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.Usuario{
    height:100% !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #aae2ef, #efcdea, #f298fa);
    color: #504d4d;
    padding: 20px 20px 200px;
    text-align: center;
}

.Usuario form{
    padding: 50px 55px 85px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
    margin: auto;
}
.Usuario .input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.body h2{
    color: #dd3131;
    font-size: 35px;
    margin: 0;
}


.body .line{
    padding: 15px;
    display: inline-block;
    width: 50px;
    height: 7px;
}

.body label{
    color: #1B1B1B;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}
.body select{
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    border: 2px solid #c5c1c1;
}
.body .form-cont{
    color: #1B1B1B;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}
.body .form-control{
    padding: 17px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid #c5c1c1;
}

.body input{
    padding: 17px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid #c5c1c1;
    color: #ffffff;
}

.body input::placeholder{
    color: #ffffff;

}

.body .form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content:space-between;
    text-align: center;
}

.body .form-txt a {
    color: #1B1B1B;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.body .btn{
    font-size: 16px;
    color: #424242;
    border: 0;
    border-radius: 25px;
    background: linear-gradient(90deg, #aae2ef, #efcdea, #f298fa);
    cursor: pointer;
}

.moneda{
    text-align: right;
    min-width: 120px;
}