.buttonadmin{
    background-color: whitesmoke !important;
    text-decoration: none;
}

.adminheader{
    margin-left: 40px;
}
.adminheader h4{
    background: linear-gradient(90deg, #aae2ef, #efcdea, #f298fa);
    margin-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 7px;
    padding-top: 5px;
    border-radius: 45px;
}

.adminrow{
    padding-top: 15px !important;
    font-size: 18px;
}
.admincol{
    padding-top: 15px !important;
    font-size: 18px;
}
.fondotabla{
    background-color: #cef6d7;
    border-radius: 40px;
}

.rowactions{
    margin: auto;
    width: 120px;
    display: flex;
    justify-content: space-between;
}

.form-cont{
    text-align: left;
}

.contact{
    padding: 4%;
    height: 400px;
}
.col-md-3{
    background: #f298fa;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}

.contact-info img{
    width: 250px;
}

.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}

.label{
    margin-right: 10px !important;
}