.cursos{
    height:100%;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(90deg, #aae2ef, #efcdea, #f298fa);
    color: #504d4d;
    padding: 20px 20px 200px;
    text-align: center;
}

.nav2{
  
}
.submenu{
    padding: 30px;
    font-size: 20px;
    margin:auto;
}

.titleContainer {
    padding-top: 20px;
    font-size: 50px;
    color: #fc2ecc;
    text-align: center;
    margin: auto;
}

.cursos p{
    font-size: 1em;
    font-weight:500;
    color: #504d4d;
    
    
}

ul{
   text-align: center;
   font-size: 25px;
   font-weight: 500;
  text-decoration: none;
  list-style-type: none;
}

.cursos .list-Tecnicas{
    
    padding-left: 100px;
    list-style-type: disc;   
    line-height: 2;
    text-align: center;

}

.tabla{
    margin:8px;
    background-color: #e3a8f8;
    border-radius: 10px;
    overflow:hidden;
    text-align: center;
    
}
p{
    text-align: justify;
    
}
.subtitulo{
    text-align: left;
    color:#af0da7;
    font-size: 3em;
    font-weight: 800;
    text-align: center;
}
#cont1{
  padding: 20px; 
}
#principal{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    
}
.lista{
   margin: auto;
   
}

#cont2{
    padding: 20px; 
}
#cont2 p{
    font-size: 25px;
  }

#secundario{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.callToAction{
    background-color: white;
    padding: 10px;
    border-radius:30px;
    transition: 0.5s;
    color: black;
    text-decoration: none;
    
}

.callToAction:hover{
    padding: 10px;
    cursor:pointer;
    
    
}
.titulo{
    color:#f91bb6;
    font-weight: 700;
    font-size: 50px;
}

.imagen{
    flex-direction:column-reverse;
    border-radius: 80%;
    width: 400px;
    height: 350px;
    margin: 10px;
}
.imagen2{
    width: 400px;
    height: 350px;
    margin: 10px;
    border-radius: 20px;
}
.resaltar{
    font-size: 40px;
    font-weight: 700;
    padding: 20px;
}