.inicio {
    padding: 20px 20px 200px;
    height:100%;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(90deg, #aae2ef, #efcdea, #f298fa);
    color: #504d4d;
    padding: 20px 20px 200px;
    text-align: center;
}

#principal{
    
    display: flex;
    width: 500px;
    margin: 40px;
    font-size: 25px;
}

@media screen and (max-width:800px){
    #cont1{
        flex-direction: column;
    }
}

#secundario{
    display: flex;
    float:right;
    width: auto;
    margin: auto;
}

#tercero{
    display: flex;
    text-align: center;
    width: 500px;
    margin: 40px;
    font-size: 25px;
}
#cuarto{
    display: flex;
    float:left;
    width: auto;
    margin: auto;
}
#cont1{
    display: flex;
}

.titleContainer {
    padding-top: 20px;
    
    
    
}
.inicio p{
    font-size: 1em;
    font-weight:500;
    color: #504d4d;
    text-align: justify;
}




.callToAction{
    background-color: white;
    padding: 10px;
    border-radius:30px;
    transition: 0.5s;
    color: black;
    text-decoration: none;
    
}

.callToAction:hover{
    padding: 10px;
    cursor:pointer;
    
    
}

.ctaContainer{
    padding-top: 5px;

}

.titleContainer2 {
    padding-top: 20px;
}
.ctaContainer2{
    padding-top: 20px;
    
}



.carousel, .carousel-inner > .item > img {
    height: 70px;
  }

.titulo{
    color:#f91bb6;
    font-weight: 700;
    font-size: 60px;
  }

  .slider{
   
  }